<a href="https://colab.research.google.com/github/seohyeon1578/TensorFlow/blob/main/python_datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자형

In [ ]:
num1 = 5

num2 = 5.0

num3 = 5.00000

print(num1, num2, num3)

5 5.0 5.0

# 연산

In [ ]:
num4 = 5 * 1

num5 = 5 * 1.0

print(num4, num5)

5 5.0

# 문자형

In [ ]:
string1 = 'hello python world1'

string2 = "hello python world1"

string3 = '''hello python world1'''

string4 = """hello python world1"""

print(string1, string2, string3, string4)

hello python world1 hello python world1 hello python world1 hello python world1

In [ ]:
print("Jack's favorite food is burger")

Jack's favorite food is burger

In [ ]:
print('"오늘 날씨가 참 좋다" - "아무개"')

"오늘 날씨가 참 좋다" - "아무개"

In [ ]:
print("아우렐리우스\n만물은 변화다\n우리의 삶이란 우리의 생각이 변화를 만드는 (과정)이다")

아우렐리우스
만물은 변화다
우리의 삶이란 우리의 생각이 변화를 만드는 (과정)이다

In [ ]:
print('''
아우렐리우스
만물은 변화다
우리의 삶이란 우리의 생각이 변화를 만드는 (과정)이다
''')

아우렐리우스
만물은 변화다
우리의 삶이란 우리의 생각이 변화를 만드는 (과정)이다

In [ ]:
str = '아우렐리우스 만물은 변화다 우리의 삶이란 우리의 생각이 변화를 만드는 (과정)이다'

print(str[7] + str[8] + str[9])
print(str[7:10])

만물은
만물은

# 리스트형

In [ ]:
a = []
b = [1, 2, 3]
c = ['wow', 'python']
d = [1, 2, 'wow']
e = [1, 2, ['wow', 'python']]

print(a, b, c, d, e)

[] [1, 2, 3] ['wow', 'python'] [1, 2, 'wow'] [1, 2, ['wow', 'python']]

In [ ]:
a = [10, 20, 30]
a

[10, 20, 30]

In [ ]:
a[0] = 15
a

[15, 20, 30]

In [ ]:
a[1:2] = ['wow', 'python', 'world']
a

[15, 'wow', 'python', 'world', 30]

# 딕셔너리형 (사전형)

In [ ]:
game = {
    '가위' : '보',
    '보' : '가위',
    '바위' : '가위'
}

In [ ]:
print(game['가위'])

보

In [ ]:
dic = {
    'key' : [1, 2, 3]
}

In [ ]:
print(dic['key'])

[1, 2, 3]

In [ ]:
dict = {
    'python' : 100, 
    'java' : 90,
    'jsp' : 90
    }

In [ ]:
for key, val in dict.items():
  print('{} 점수는 {} 이다.'.format(key, val))

python 점수는 100 이다.
java 점수는 90 이다.
jsp 점수는 90 이다.

In [ ]:
for key in dict.items():
  print('{} 점수는 {} 이다.'.format(key[0], key[1]))

python 점수는 100 이다.
java 점수는 90 이다.
jsp 점수는 90 이다.

In [ ]:
for key in dict.items():
  print('{} 점수는 {} 이다.'.format(*key))

python 점수는 100 이다.
java 점수는 90 이다.
jsp 점수는 90 이다.

# 튜플형

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

(1, 2, 3, 4, 5)

In [ ]:
tuple2 = 1, 2, 3, 4, 5
print(tuple2)

(1, 2, 3, 4, 5)

In [ ]:
print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

In [ ]:
list1 =[1, 2, 3, 4, 5]
tuple3 = tuple(list1)

print(tuple3)
print(type(tuple3))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
print(tuple3[0])

1

튜플형은 순서와 값을 모두 고정하는 형태
값을 변경하려면 모두 오류가 발생함

```
tuple3[3] = 33
tuple3
```

```
del tuple3[3]
tuple3
```

In [ ]:
x = 5
y = 10

In [ ]:
z = x
x = y
y = z

print(x, y)

10 5

In [ ]:
x, y = y, x

print(x, y)

5 10

In [ ]:
list1 = [1, 2, 3, 4, 5]
for i, j in enumerate(list1) :
  print('{} 번째 값은 {} 이다.'.format(i, j))

0 번째 값은 1 이다.
1 번째 값은 2 이다.
2 번째 값은 3 이다.
3 번째 값은 4 이다.
4 번째 값은 5 이다.

In [ ]:
for i in enumerate(list1) :
  print('{} 번째 값은 {} 이다.'.format(i[0], i[1]))

0 번째 값은 1 이다.
1 번째 값은 2 이다.
2 번째 값은 3 이다.
3 번째 값은 4 이다.
4 번째 값은 5 이다.

In [ ]:
for i in enumerate(list1) :
  print('{} 번째 값은 {} 이다.'.format(*i))

0 번째 값은 1 이다.
1 번째 값은 2 이다.
2 번째 값은 3 이다.
3 번째 값은 4 이다.
4 번째 값은 5 이다.

In [ ]:
def tuple_good():
  for i in range(100):
    return i

In [ ]:
list1 = tuple_good()
print(list1)

0

In [ ]:
def tuple_good2():
  return 1, 2

In [ ]:
num1, num2 = tuple_good2()
print(num1, num2)

1 2